body {
   font-family: 'Montserrat', sans-serif;
}


#title {
  background-color: #ff4c68;
  color: #fff;
}

h1 {
  font-size: 3.5rem;
  line-height: 1.5;
  font-family: 'Roboto', sans-serif;
}

h2 {
  font-size: 3rem;
  line-height: 1.5;
  font-family: 'Roboto';
}

h3 {
  font-size: 1.5rem;
  line-height: 1.5;
  font-family: 'Roboto';
}

p {
  color: #8f8f8f;
}

.container-fluid {
  padding: 3% 15% 7%;
}

/* Navigation Bar */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;;
  font-weight: bold;
  font-size: 2.5rem;
  color: #fff;
}

/* Download Button */
 .download-button {
   margin: 5% 3% 5% 0;
 }

/* Title Image */
.title-image {
  width: 60%;
  transform: rotate(24deg);
  position: absolute;
  right: 22%;
}

/* Features */

#features {
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
  z-index: 1;
}
.feature-box {
  text-align: center;
  padding: 5%;
}
.check-box {
  margin: auto;
}

.icon {
  color: #ef8172;
  margin: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

/* testimonials */

#testimonials {
  color: #fff;
  background-color: #ef8172;
  text-align: center;
}

.carousel-item {
  padding: 7% 15%;
}

.testimonials-image {
  width: 15%;
  border-radius: 100%;
  margin: 20px;
}

#press {
  background-color: #ef8172;
  text-align: center;
  padding: 3% 3%;
}
.press-img {
  width: 15%;
  margin : 20px;
}

/* pricing */

#pricing {
  text-align: center;
  padding: 10%;
}

.pricing-card {
  padding: 3% 2%;
}

.pricing-button:hover{
  background-color:  #ef8172;
}

/* cta */

#cta {
  background-color: #ff4c68;
  text-align: center;
  padding: 10% 10%;
  font-family: 'Ubuntu';
  font-weight: bold;
  color: #fff;
  font-size: 3em;
}

.cta-button {
  margin: 2% 2%;
}

.cta-h3 {
  font-size: 3rem;
}

/* footer */

#footer {
  padding: 4% 2% 2%;
  text-align: center;
  font-size: 1rem;
}
.footer-link {
    padding: 7% 1% 1%;
  }

.icon-insta {
  color: #ef8172;
}
.icon-insta:hover {
  color:  #ff4c68;
}
.icon-gmail {
  color: #ef8172;
}
.icon-gmail:hover {
  color: #ff4c68;
}

.para {
  margin-top: 5px;
}

/* Media */

@media (max-width: 1028px) {

   .title-image {
    position: static;
    transform: rotate(0);
    width: 200px;
    height: 400px;
  }

  #title {
    text-align: center;
  }
}
